<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style2.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/satan2.png" type="image/x-icon">
    <title>Document</title>
</head>

<body>


    <div class="contenedor1">

        <div class="header">
            <div class="nav2">otro</div>
            <nav class="nav">
                <a href="/"> <img class="satan" src="/img/logo-satan.png" alt=""> </a>
                <ul class="ul">
                    <a href="/horror">
                        <li class="li">Horror</li>
                    </a>
                    <a href="/psicologico">
                        <li class="li">psicologico</li>
                    </a>
                    <a href="/suspenso">
                        <li class="li">suspenso</li>
                    </a>
                </ul>
            </nav>
        </div>

        <div class="header-1">

            <h1 class="titulo">Contactate con nosotros</h1>
            <p class="text-1">a continuación encontraras nuestra información de contacto</p>

        </div>

        <div class="portada2">
            <img class="libros-cont" src="/img/libropsico2.jpg" alt="">
        </div>
        <div class="informacion2">
            <h1 class="libros-titul">Misery</h1>
            <h1 class="libros-subt">Stephen King</h1>

            <p class="libros-text"> Paul Sheldon es un escritor mayoritariamente conocido por escribir una serie de
                novelas de corte romántico, que giran en torno a las aventuras sentimentales de una mujer llamada
                Misery. A pesar de que el lanzamiento de cada episodio supone un importante éxito comercial, Paul ha
                terminado por odiar al personaje que tantas alegrías le ha dado y que lo catapultó a la fama, así que en
                su último libro Paul Sheldon decide matar a Misery y dejar de escribir para siempre sobre ella.
                Sin embargo, Paul sufre un grave accidente de coche y despierta días después con las piernas rotas,
                envuelto en terribles dolores y acostado en una cama que no es la de un hospital. Pronto Paul descubrirá
                que donde de verdad se encuentra es retenido contra su voluntad en una apartada casa junto a un establo,
                propiedad de una sombría y corpulenta mujer. Lo que Paul aún no sabe es que la misteriosa desconocida
                que lo rescató de la muerte, es en realidad una enfermera retirada que en su tiempo se vio envuelta de
                manera extraña en varios casos de defunciones.
            </p>

            <div class="btn-compra">
                <p>$60.000</p>
            </div>
        </div>
        <div class="descripcion2">
            <h1 class="libros-subt">Descripción</h1>
            <p class="libros-text"> Misery is an American psychological horror thriller novel written by Stephen King
                and first published by Viking Press on June 8, 1987.[1] The novel's narrative is based on the
                relationship of its two main characters – the popular writer Paul Sheldon and his psychotic fan Annie
                Wilkes. When Paul is seriously injured following a car accident, former nurse Annie brings him to her
                home, where Paul receives treatment and doses of pain medication. Gradually, Paul realizes that he is a
                prisoner and is forced to indulge his captor's whims. .
            </p>
        </div>

        <div class="footer3">

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="/">Home</a>

					<a href="/horror">Horror</a>

					<a href="/psicologico">Psicologico</a>

					<a href="/suspenso">Suspenso</a>

				</p>

				<p>Libreria Satan &copy; 2020</p>
			</div>

		</div>

    </div>

</body>

</html>