<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style2.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/satan2.png" type="image/x-icon">
    <title>Document</title>
</head>

<body>


    <div class="contenedorH">

        <div class="heade">
            <div class="nav2">
                <ul class="ul2">

                    <a href="/horror">
                        <li class="li2">Horror</li>
                    </a>
                    <a href="/psicologico">
                        <li class="li2">psicologico</li>
                    </a>
                    <a href="/suspenso">
                        <li class="li2">suspenso</li>
                    </a>
                </ul>
            </div>
            <nav class="nav">
                <a href="/"> <img class="satan" src="/img/logo-satan.png" alt=""> </a>
                <ul class="ul">

                    <a href="/horror">
                        <li class="li">Horror</li>
                    </a>
                    <a href="/psicologico">
                        <li class="li">psicologico</li>
                    </a>
                    <a href="/suspenso">
                        <li class="li">suspenso</li>
                    </a>
                </ul>
            </nav>
        </div>


        <div class="header-1">

            <h1 class="titulo">Libros de Terror y horror</h1>
            <p class="text-1">busca el libro que mas te interese</p>

        </div>



        <div class="portada">
            <img class="libros-cont" src="/img/libro1.jpg" alt="">
        </div>
        <div class="informacion">

            <h1 class="libros-titul">La llamada del Cthulhu</h1>
            <h1 class="libros-subt">H. P. Lovecraft</h1>

            <p class="libros-text"> La historia está compuesta por dos narrativas principales vinculadas por una
                tercera,
                la voz del «autor». Solo el autor es capaz de interpretar correctamente lo sucedido y es consciente de
                la
                importancia de la información que tiene en su poder, y va narrándolo siguiendo el orden en que él mismo
                fue
                descubriendo la verdad.

                Comienza con la muerte de un eminente profesor de la Universidad Brown, Providence, y el estudio de los
                documentos con los que estaba trabajando. Estos incluyen un informe sobre un ataque perpetrado por una
                secta. Una investigación sobre los miembros de la secta saca a la luz algunas pistas sobre la horrorosa
                criatura que veneran, Cthulhu. Este ser, que supuestamente llegó con sus seguidores extraterrestres
                desde
                las estrellas millones de años antes de la aparición del Hombre, ahora descansa en un sueño profundo en
                su
                ciudad sumergida, R'lyeh.

                La segunda parte de la historia empieza con el cuaderno de bitácora del primer oficial de un barco que
                descubre la ciudad hundida, pues ésta ha emergido a la superficie en el Océano Pacífico. La ciudad
                emergió
                porque «las estrellas eran propicias» y el tiempo para el despertar de Cthulhu y sus engendros había
                llegado. </p>

            <div class="btn-compra">
                <p>$50.000</p>
            </div>
        </div>
        <div class="descripcion">
            <h1 class="libros-subt">Descripción</h1>
            <p class="libros-text"> La llamada de Cthulhu (The Call of Cthulhu en inglés) es un relato corto en
                estructura de novelette escrito por H. P. Lovecraft en el año 1926. La obra fue publicada por primera
                vez en febrero de 1928 por la editorial de pulp Weird Tales.1​2​ Cthulhu hace su primera aparición en
                este relato, convirtiéndose en una figura central del ciclo literario de los Mitos de Cthulhu.3​
            </p>
        </div>

        <div class="portada2">
            <img class="libros-cont" src="/img/libroterror2.png" alt="">
        </div>
        <div class="informacion2">
            <h1 class="libros-titul">La caída de la casa Usher</h1>
            <h1 class="libros-subt">Edgar Allan Poe</h1>

            <p class="libros-text"> El protagonista es invitado por Roderik Usher a su mansión, estando este muy enfermo física y mentalmente.
                Roderik tenía alteraciones en su personalidad y tenía una gran sensibilidad por los sentidos.
                La mansión tenía un aspecto tenebroso y una grieta con forma de zig-zag que iba desde el techo hasta casi el estanque.
                Roderik le tenía temor a la mansión.
                La parecida hermana de Roderik, Lady Madeline, había muerto hace poco días.
                
                La muerta fue llevada a una cripta familiar por Roderik y el protagonista.
                Una noche Roderik estremecido fue por la compañía de su amigo el cual le leyó un libro.
                
                Mientras el protagonista contaba la historia del joven Etheredo los sonidos de la novela eran acorde con los sonidos de la mansión.
                Se abre la puerta de la habitación donde se encontraban los viejos amigos, los cuales quedan espantados al ver a Madeline frentes a ellos.
                Ella muere ensangrentada encima de su hermano, tras la lucha por liberarse de la tumba, y Roderik muere de miedo.
                El protagonista escapa de la mansión mientras esta se derrumba.
            </p>

            <div class="btn-compra">
                <p>$60.000</p>
            </div>
        </div>
        <div class="descripcion2">
            <h1 class="libros-subt">Descripción</h1>
            <p class="libros-text"> también conocido como «El hundimiento de la casa Usher» (título original en inglés:
                «The Fall of the House of Usher») es un cuento de terror del escritor estadounidense Edgar Allan Poe,
                considerado uno de los más importantes de su producción narrativa. Fue publicado por primera vez en la
                revista Burton's Gentleman's Magazine, en 1839.
            </p>
            <form action="/busqueda/?" method="GET">
                <input type="text" placeholder="generos" name="nombre"
                    style="background-color: black; padding: 20px 10px 20px 10px; width: 50%; display: block; margin-left: auto; margin-right: auto; margin-top: 3em; border: 1px solid #ffffff76; color: blanchedalmond;">
                <input type="submit" value="Buscar"
                    style="background-color: black; padding: 20px 10px 20px 10px; width: 15%; display: block; margin-left: auto; margin-right: auto; margin-top: 1em; margin-bottom: 3em; border: 1px solid #ffffff61; color: blanchedalmond;">
            </form>
        </div>

        <div class="footer3">

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="/">Home</a>

					<a href="/horror">Horror</a>

					<a href="/psicologico">Psicologico</a>

					<a href="/suspenso">Suspenso</a>

				</p>

				<p>Libreria Satan &copy; 2020</p>
			</div>

		</div>

    </div>

</body>

</html>