<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/satan2.png" type="image/x-icon">
    <title>Libreria || Horror</title>
</head>

<body>

    <div class="contenedor1">


        <div class="header">
            <div class="nav2">
                <ul class="ul2">

                    <a href="/horror">
                        <li class="li2">Horror</li>
                    </a>
                    <a href="/psicologico">
                        <li class="li2">psicologico</li>
                    </a>
                    <a href="/suspenso">
                        <li class="li2">suspenso</li>
                    </a>
                </ul>
            </div>
            <nav class="nav">
                <a href="/"> <img class="satan" src="/img/logo-satan.png" alt=""> </a>
                <ul class="ul">
                    <a href="/horror">
                        <li class="li">Horror</li>
                    </a>
                    <a href="/psicologico">
                        <li class="li">psicologico</li>
                    </a>
                    <a href="/suspenso">
                        <li class="li">suspenso</li>
                    </a>
                </ul>
            </nav>
        </div>


        <div class="header-1">

            <h1 class="titulo">Bienvenido a la libreria del terror</h1>
            <p class="text-1">donde podras leer los mejores libros de horror y suspenso</p>
            <a href="#libritos"> <button class="btn1">leer mas</button> </a>

        </div>


        <div class="libros">
            <section id="libritos">
            <div class="flex-container">
                <div>
                    <div class="contai" style="position: relative;">
                        <h1 class="cont-cajas">Horror</h1>
                        <img class="efect" src="/img/libro1.jpg" alt="" width="80%">
                        <a href="/horror">
                            <div class="texto-cuadro">Ver</div>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="contai" style="position: relative;">
                        <h1 class="cont-cajas">Psicologico</h1>
                        <img class="efect" src="/img/libro2.jpg" alt="" width="80%">
                        <a href="/psicologico">
                            <div class="texto-cuadro">Ver</div>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="contai" style="position: relative;">
                        <h1 class="cont-cajas">Suspenso</h1>
                        <img class="efect" src="/img/libro3.jpg" alt="" width="80%">
                        <a href="/suspenso">
                            <div class="texto-cuadro">Ver</div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
            <form action="/busqueda/?" method="GET">
                <input type="text" placeholder="generos" name="nombre"
                    style="background-color: black; padding: 20px 10px 20px 10px; width: 50%; display: block; margin-left: auto; margin-right: auto; margin-top: 3em; border: 1px solid #ffffff76; color: blanchedalmond;">
                <input type="submit" value="Buscar"
                    style="background-color: black; padding: 20px 10px 20px 10px; width: 15%; display: block; margin-left: auto; margin-right: auto; margin-top: 1em; margin-bottom: 3em; border: 1px solid #ffffff61; color: blanchedalmond;">
            </form>

        </div>


		<div class="footer3">

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="/">Home</a>

					<a href="/horror">Horror</a>

					<a href="/psicologico">Psicologico</a>

					<a href="/suspenso">Suspenso</a>

				</p>

				<p>Libreria Satan &copy; 2020</p>
			</div>

		</div>

    </div>

</body>

</html>