<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style2.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/satan2.png" type="image/x-icon">
    <title>Document</title>
</head>

<body>


    <div class="contenedorH">

        <div class="heade">
            <div class="nav2">
                <ul class="ul2">

                    <a href="/horror">
                        <li class="li2">Horror</li>
                    </a>
                    <a href="/psicologico">
                        <li class="li2">psicologico</li>
                    </a>
                    <a href="/suspenso">
                        <li class="li2">suspenso</li>
                    </a>
                </ul>
            </div>
            <nav class="nav">
                <a href="/"> <img class="satan" src="/img/logo-satan.png" alt=""> </a>
                <ul class="ul">

                    <a href="/horror">
                        <li class="li">Horror</li>
                    </a>
                    <a href="/psicologico">
                        <li class="li">psicologico</li>
                    </a>
                    <a href="/suspenso">
                        <li class="li">suspenso</li>
                    </a>
                </ul>
            </nav>
        </div>


        <div class="header-1">

            <h1 class="titulo">Libros de crimen y psicologicos</h1>
            <p class="text-1">busca el libro que mas te interese</p>

        </div>



        <div class="portada">
            <img class="libros-cont" src="/img/libro2.jpg" alt="">
        </div>
        <div class="informacion">

            <h1 class="libros-titul">El pasajero oscuro</h1>
            <h1 class="libros-subt">Jeff Lindsay</h1>

            <p class="libros-text"> El protagonista de la novela, Dexter Morgan, es un joven que trabaja para el
                Departamento de Policía de Miami como forense especializado en sangre. En su tiempo libre, Dexter es un
                asesino en serie con una regla o código: sólo mata a asesinos que han escapado de la justicia.

                Dexter tiene una voz interior que le anima a matar, a la que él llama "el oscuro pasajero". Una vez que
                lo ha hecho "correctamente", la voz queda satisfecha por un tiempo, manteniéndose en silencio hasta que
                el impulso de matar regresa.

                Dexter ha mantenido una doble vida con prudencia durante muchos años, un trabajo, una casa, una novia,
                pero comete una serie de imprudencias cuando un asesino en serie con un artístico y lúdico estilo que
                impresiona al protagonista empieza a aterrorizar a Miami. El asesino envía mensajes a Dexter, quien
                considera la serie de crímenes fascinantes y comienza a sentirse atraído para saber con qué ingenio este
                asesino comete dichos crímenes ya que él piensa cómo no se le pudo haber ocurrido.

                Mientras tanto, su hermana, Deborah, cree que esos asesinatos en serie son su pasaporte a la unidad de
                homicidios, y pide a Dexter ayuda para ver cumplido su deseo. Nuestro protagonista está ante la
                disyuntiva de ayudar a su hermana a capturar al asesino y el deseo de admirar el arte y la habilidad del
                mismo. </p>

            <div class="btn-compra">
                <p>$40.000</p>
            </div>
        </div>
        <div class="descripcion">
            <h1 class="libros-subt">Descripción</h1>
            <p class="libros-text"> This paper proposes topics of reflection on the Showtime television series, Dexter.
                As a narrative from the American cultural industry, success led it to spread throughout the world,
                multiplying its fans. The series is about a serial murderer with a different story than the Hollywood
                ones. Dexter doesn’t want to be who he is and fights against a part of him that has killing as an
                impulse –his “dark passenger”, as he calls it-. As the storyunfolds, multiple threads related to the
                human condition intersect. The good and evil, justice and injustice, heroes and antiheroes are regular
                issues in the series. Also, family relationships, especially between the main character and her sister,
                are essential while decoding this speech that, thanks to digital technologies, has followers all over
                the world.
            </p>
        </div>

        <div class="portada2">
            <img class="libros-cont" src="/img/libropsico2.jpg" alt="">
        </div>
        <div class="informacion2">
            <h1 class="libros-titul">Misery</h1>
            <h1 class="libros-subt">Stephen King</h1>

            <p class="libros-text"> Paul Sheldon es un escritor mayoritariamente conocido por escribir una serie de
                novelas de corte romántico, que giran en torno a las aventuras sentimentales de una mujer llamada
                Misery. A pesar de que el lanzamiento de cada episodio supone un importante éxito comercial, Paul ha
                terminado por odiar al personaje que tantas alegrías le ha dado y que lo catapultó a la fama, así que en
                su último libro Paul Sheldon decide matar a Misery y dejar de escribir para siempre sobre ella.
                Sin embargo, Paul sufre un grave accidente de coche y despierta días después con las piernas rotas,
                envuelto en terribles dolores y acostado en una cama que no es la de un hospital. Pronto Paul descubrirá
                que donde de verdad se encuentra es retenido contra su voluntad en una apartada casa junto a un establo,
                propiedad de una sombría y corpulenta mujer. Lo que Paul aún no sabe es que la misteriosa desconocida
                que lo rescató de la muerte, es en realidad una enfermera retirada que en su tiempo se vio envuelta de
                manera extraña en varios casos de defunciones.
            </p>

            <div class="btn-compra">
                <p>$60.000</p>
            </div>
        </div>
        <div class="descripcion2">
            <h1 class="libros-subt">Descripción</h1>
            <p class="libros-text"> Misery is an American psychological horror thriller novel written by Stephen King
                and first published by Viking Press on June 8, 1987.[1] The novel's narrative is based on the
                relationship of its two main characters – the popular writer Paul Sheldon and his psychotic fan Annie
                Wilkes. When Paul is seriously injured following a car accident, former nurse Annie brings him to her
                home, where Paul receives treatment and doses of pain medication. Gradually, Paul realizes that he is a
                prisoner and is forced to indulge his captor's whims. .
            </p>

            <form action="/busqueda/?" method="GET">
                <input type="text" placeholder="generos" name="nombre"
                    style="background-color: black; padding: 20px 10px 20px 10px; width: 50%; display: block; margin-left: auto; margin-right: auto; margin-top: 3em; border: 1px solid #ffffff76; color: blanchedalmond;">
                <input type="submit" value="Buscar"
                    style="background-color: black; padding: 20px 10px 20px 10px; width: 15%; display: block; margin-left: auto; margin-right: auto; margin-top: 1em; margin-bottom: 3em; border: 1px solid #ffffff61; color: blanchedalmond;">
            </form>
        </div>

        <div class="footer3">

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="/">Home</a>

					<a href="/horror">Horror</a>

					<a href="/psicologico">Psicologico</a>

					<a href="/suspenso">Suspenso</a>

				</p>

				<p>Libreria Satan &copy; 2020</p>
			</div>

		</div>

    </div>

</body>

</html>