<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style2.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/satan2.png" type="image/x-icon">
    <title>Document</title>
</head>

<body>


    <div class="contenedorH">

        <div class="heade">
            <div class="nav2">
                <ul class="ul2">

                    <a href="/horror">
                        <li class="li2">Horror</li>
                    </a>
                    <a href="/psicologico">
                        <li class="li2">psicologico</li>
                    </a>
                    <a href="/suspenso">
                        <li class="li2">suspenso</li>
                    </a>
                </ul>
            </div>
            <nav class="nav">
                <a href="/"> <img class="satan" src="/img/logo-satan.png" alt=""> </a>
                <ul class="ul">

                    <a href="/horror">
                        <li class="li">Horror</li>
                    </a>
                    <a href="/psicologico">
                        <li class="li">psicologico</li>
                    </a>
                    <a href="/suspenso">
                        <li class="li">suspenso</li>
                    </a>
                </ul>
            </nav>
        </div>


        <div class="header-1">

            <h1 class="titulo">Libros de Suspenso</h1>
            <p class="text-1">busca el libro que mas te interese</p>

        </div>



        <div class="portada">
            <img class="libros-cont" src="/img/suspenso1.jpg" alt="">
        </div>
        <div class="informacion">

            <h1 class="libros-titul">El Hombre de Tiza</h1>
            <h1 class="libros-subt">C. J. TUDOR</h1>

            <p class="libros-text"> Echando la vista atrás, todo comenzó el día del terrible accidente durante la feria,
                cuando Eddie, de doce años, conoció al Hombre de Tiza.

                Fue el Hombre de Tiza quien le dio la idea de los dibujos: una manera de dejar mensajes secretos entre
                el grupo de amigos.

                Fue divertido hasta que los dibujos condujeron al cuerpo sin vida de una niña.

                Sucedió hace treinta años y Ed pensaba que todo había quedado olvidado.

                Sin embargo, recibe una carta que contiene solo dos cosas: una tiza y el dibujo de un muñeco.

                La historia se repite y Ed se da cuenta de que el juego en realidad nunca terminó...

                Todos tenemos secretos.
                Todos somos culpables de algo.
                Y los niños no son siempre tan inocentes.

                La crítica ha dicho...
                «Tensión pura con un final de esos que te obligan a dejar la luz encendida toda la noche. Una primera
                novela sorprendente.»
                Sunday Times </p>

            <div class="btn-compra">
                <p>$50.000</p>
            </div>
        </div>
        <div class="descripcion">
            <h1 class="libros-subt">Descripción</h1>
            <p class="libros-text"> El Hombre de Tiza es una novela de suspense escrita por la escritora británica C.J.
                Tudor. en 20181​, siendo esta su primera publicación. El libro fue oficialmente publicado el 9 de enero
                de 2018.2​
            </p>
        </div>

        <div class="portada2">
            <img class="libros-cont" src="/img/suspenso2.jpg" alt="">
        </div>
        <div class="informacion2">
            <h1 class="libros-titul">Perdida</h1>
            <h1 class="libros-subt">Gillian Flynn</h1>

            <p class="libros-text"> Nick se dirige en su coche al "Bar", el bar del que es copropietario junto con
                Margo, su hermana melliza, a la que le lleva el juego de Mastermind, y contándole mientras se toma un
                bourbon que es el día de su quinto aniversario de boda.

                8 de enero de 2005. Amy escribe en su diario lo feliz que le hizo conocer durante una fiesta a Nick, un
                chico estupendo que se presenta ante ella como un tipo de Missouri que escribe para una revista
                masculina, logrando atraer la atención de ella que dice escribir test de personalidad para revistas.

                Cuando se marchan de la fiesta él la acerca hasta un callejón donde un camión descarga sacos de azúcar
                para una panadería, estando el azúcar flotando en el aire, y bajo esa nube, y tras limpiar sus labios la
                besa, haciendo tras ello el amor.

                En el bar, Margo le pregunta si Amy ha preparado un año más la búsqueda del tesoro, lo que para él es la
                forma de demostrar que su marido es un desconsiderado, pues el año anterior ella se enfadó porque no
                supo descifrar uno de sus enigmas, y, aunque al principio era divertido, recordando que el primer año
                era el de papel y le regaló un cuaderno para que escribiera su novela y él a ella una cometa, en el 4º,
                que eran flores le regaló un rosal seco, no sabiendo qué regalar en ese 5º de madera.

                Mientras hablan reciben una llamada de su vecino, "el mirón" que le obliga a regresar a su casa, donde
                encuentra a su gato fuera y la puerta abierta, encontrando, una vez dentro, su salón revuelto y con
                signos de pelea, no estando su esposa en casa.
            </p>

            <div class="btn-compra">
                <p>$45.000</p>
            </div>
        </div>
        <div class="descripcion2">
            <h1 class="libros-subt">Descripción</h1>
            <p class="libros-text"> Perdida es una novela de 2012 escrita por la autora estadounidense Gillian Flynn. La
                obra narra la desaparición de la esposa de Nick Dunne y como las sospechas de que se haya cometido un
                crimen recaen sobre él.

                Una adaptación cinematográfica de la novela dirigida por David Fincher y protagonizada por Ben Affleck y
                Rosamund Pike fue estrenada en octubre de 2014.
            </p>

            <form action="/busqueda/?" method="GET">
                <input type="text" placeholder="generos" name="nombre"
                    style="background-color: black; padding: 20px 10px 20px 10px; width: 50%; display: block; margin-left: auto; margin-right: auto; margin-top: 3em; border: 1px solid #ffffff76; color: blanchedalmond;">
                <input type="submit" value="Buscar"
                    style="background-color: black; padding: 20px 10px 20px 10px; width: 15%; display: block; margin-left: auto; margin-right: auto; margin-top: 1em; margin-bottom: 3em; border: 1px solid #ffffff61; color: blanchedalmond;">
            </form>

        </div>

        

        <div class="footer3">

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="/">Home</a>

					<a href="/horror">Horror</a>

					<a href="/psicologico">Psicologico</a>

					<a href="/suspenso">Suspenso</a>

					<a href="/contacto">Contacto</a>
				</p>

				<p>Libreria Satan &copy; 2020</p>
			</div>

		</div>

    </div>

</body>

</html>