*{
    padding: 0;
    margin: 0;
}
body {
    background: #000;
}
.contenedor-error {
    background: url(/img/error.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    height: 800px;
}
